.soundCardWrapper {
  @apply flex flex-col rounded-2xl text-white mb-12;
  width: 300px;
  height: 400px;
}

.soundCardHeaderTop {
  @apply bg-purple border border-purple rounded-t-2xl rounded-tr-2xl p-2 pl-5 h-8 pb-4 relative;
  clip-path: polygon(0 0, 45% 0, 55% 100%, 0% 100%);
}

.soundCardHeaderBottom {
  @apply bg-purple border rounded-tr-2xl border-purple p-2 -mt-1 pl-5 pt-4 h-24 overflow-hidden;
}

.soundCardHeaderPurple {
  @apply bg-purple;
}

.mplaceImage {
  z-index: 50;
  position: relative;
  align-self: center;
  width: 300px;
  height: 230px;
  margin: 0 auto;
}

.soundCardFooter {
  @apply border-b-2 border-l-2 border-r-2 rounded-bl-2xl rounded-br-2xl border-grey-medium h-24 bg-grey-dark;
}
