.soundCardWrapper {
  @apply flex flex-col rounded-xl text-white;
  width: 200px;
  height: 350px;
  z-index: 1;

}

.soundCardHeaderTop {
  @apply rounded-t-2xl rounded-tr-2xl p-1 pl-4 h-8 pb-4 pt-1 relative text-sm tracking-[0.4em];
  clip-path: polygon(0 0, 55% 0, 65% 100%, 0% 100%);
}

.license .soundCardHeaderTop {
  @apply bg-grey-dark text-white;
}

.master .soundCardHeaderTop {
  @apply text-black bg-[#ffea2f];
}

.mplaceImage {
  @apply cursor-pointer relative w-[200px] h-[200px] rounded-tr-2xl overflow-hidden -mt-1;
}

.master .mplaceImage {
  @apply bg-[#ffea2f];
}

.license .mplaceImage {
  @apply bg-grey-dark;
}

.soundCardBody {
  @apply relative overflow-hidden rounded-b-2xl;
  width: 200px;
  height: 140px;

}

.soundCardInnerBody {
  @apply w-full h-full flex flex-col;
  z-index: 2;
}

.imageOverlay {
  @apply absolute bg-grey-dark bg-opacity-80 w-full h-full;
  z-index: -1;
}

.blur {
  @apply absolute blur-md w-full h-full;
  z-index: -2;
}

.blur img {
  z-index: -2;
}

.soundCardAudio {
  @apply bg-transparent relative w-full;
  z-index: 1;
  align-self: center;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
}

.creatorName {
  @apply flex mt-1 items-center;
}

.textOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.soundCardText {
  @apply p-2;
}

.soundCardBodyFooter {
  @apply mt-auto p-2 pb-3 text-xs;

}
