@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background: #e5e5e5;
}

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  @apply font-poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.ReactModal__Overlay {
  z-index: 99;
}
