.error {
  @apply text-red-500 mt-2 text-xs;
}

.wrapperStyle{
    border-radius: 1.5rem;
    background: #272727;
    max-width: 42rem;
    padding: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 9rem;
    box-shadow:  1px 1px 4px #0f0f0f,
    -0.5px -0.5px 1px #656262;
}

.buttonStyle {
    text-align: center;
    width: 100%;
  white-space: nowrap;
  padding-left: 7rem;
  padding-right: 7rem;
  margin-top: 1.25rem;
  display: inline-block;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  border-radius: 9999px;
  font-weight: 300;
  color: white;
  background: linear-gradient(145deg, #272727, #4f4d4d);
  box-shadow:  1px 1px 4px #0f0f0f,
  -0.5px -0.5px 1px #656262;
  cursor: pointer;
    justify-items: center;
}

.buttonStyle:hover {
    box-shadow:  1px 1px 4px #4b4848,
    -0.5px -0.5px 1px #656262;
}

.mintButton {
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2.5rem;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
    cursor: pointer;
    border-radius: 9999px;
    background: linear-gradient(145deg, #001299,#7ded77 );
    box-shadow:  1px 1px 4px #0f0f0f,
    -0.5px -0.5px 1px #656262;
}

.mintButton:hover {
    box-shadow:  1px 1px 4px #7665f6,
    -0.5px -0.5px 1px #f6d765;
}

.descriptionField {
    width: 100%;
    color: white;
    background-color: transparent;
    border-width: 0.5px;
    border-radius: 1.5rem;
    padding: 1.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}