.error {
  @apply text-red-500 mt-2 text-xs;
}

.stepWrapper {
  @apply flex justify-center items-start flex-wrap lg:flex-nowrap;
}

.informationStepWrapper {
  @apply flex flex-shrink flex-col p-8 border border-grey-medium rounded-xl w-full lg:w-[350px] lg:mt-9 lg:ml-10 text-black;
}

.informationStepHeader {
  @apply font-bold text-sm mb-4;
}

.informationStepBody {
  @apply text-black text-xs leading-5;
}

.wrapperStyle {
  @apply max-w-xl;
  border-radius: 1.5rem;
  background: white;
  padding: 3rem;
  margin-top: 2rem;
  margin-bottom: 9rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonStyle {
  @apply text-xs;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  margin-top: 1.25rem;
  display: inline-block;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  border-radius: 9999px;
  font-weight: 300;
  color: white;
  background: linear-gradient(145deg, #272727, #4f4d4d);
  box-shadow: 1px 1px 4px #0f0f0f, -0.5px -0.5px 1px #656262;
  cursor: pointer;
  justify-items: center;
}

.buttonStyle:hover {
  box-shadow: 1px 1px 4px #4b4848, -0.5px -0.5px 1px #656262;
}

.mintButton {
  @apply px-5 py-2 mt-5 text-center mx-auto text-white bg-gradient-to-l from-[#1400FF] to-[#0089FF] w-full;
  border-radius: 36.6927px;
}

.mintButton:hover {
  box-shadow: 1px 1px 4px grey, -0.5px -0.5px 1px grey;
}

.descriptionField {
  width: 100%;
  color: black;
  background-color: transparent;
  border-width: 0.5px;
  border-radius: 1.5rem;
  padding: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
