.moduleBg {
  background: #272727;
  width: 100%;
  padding: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 9rem;
  border-radius: 1.5rem;
  box-shadow:  1px 1px 4px #0f0f0f,
  -0.5px -0.5px 1px #656262;
}
